@import url('https://cdn.jsdelivr.net/gh/catppuccin/palette/css/catppuccin.css');

:root {
  --ctp-espresso-rosewater: var(--ctp-mocha-rosewater)
  --ctp-espresso-rosewater-rgb: var(--ctp-mocha-rosewater-rgb)
  --ctp-espresso-rosewater-hsl: var(--ctp-mocha-rosewater-hsl)
  --ctp-espresso-rosewater-raw: var(--ctp-mocha-rosewater-raw)
  --ctp-espresso-flamingo: var(--ctp-mocha-flamingo)
  --ctp-espresso-flamingo-rgb: var(--ctp-mocha-flamingo-rgb)
  --ctp-espresso-flamingo-hsl: var(--ctp-mocha-flamingo-hsl)
  --ctp-espresso-flamingo-raw: var(--ctp-mocha-flamingo-raw)
  --ctp-espresso-pink: var(--ctp-mocha-pink)
  --ctp-espresso-pink-rgb: var(--ctp-mocha-pink-rgb)
  --ctp-espresso-pink-hsl: var(--ctp-mocha-pink-hsl)
  --ctp-espresso-pink-raw: var(--ctp-mocha-pink-raw)
  --ctp-espresso-mauve: var(--ctp-mocha-mauve)
  --ctp-espresso-mauve-rgb: var(--ctp-mocha-mauve-rgb)
  --ctp-espresso-mauve-hsl: var(--ctp-mocha-mauve-hsl)
  --ctp-espresso-mauve-raw: var(--ctp-mocha-mauve-raw)
  --ctp-espresso-red: var(--ctp-mocha-red)
  --ctp-espresso-red-rgb: var(--ctp-mocha-red-rgb)
  --ctp-espresso-red-hsl: var(--ctp-mocha-red-hsl)
  --ctp-espresso-red-raw: var(--ctp-mocha-red-raw)
  --ctp-espresso-maroon: var(--ctp-mocha-maroon)
  --ctp-espresso-maroon-rgb: var(--ctp-mocha-maroon-rgb)
  --ctp-espresso-maroon-hsl: var(--ctp-mocha-maroon-hsl)
  --ctp-espresso-maroon-raw: var(--ctp-mocha-maroon-raw)
  --ctp-espresso-peach: var(--ctp-mocha-peach)
  --ctp-espresso-peach-rgb: var(--ctp-mocha-peach-rgb)
  --ctp-espresso-peach-hsl: var(--ctp-mocha-peach-hsl)
  --ctp-espresso-peach-raw: var(--ctp-mocha-peach-raw)
  --ctp-espresso-yellow: var(--ctp-mocha-yellow)
  --ctp-espresso-yellow-rgb: var(--ctp-mocha-yellow-rgb)
  --ctp-espresso-yellow-hsl: var(--ctp-mocha-yellow-hsl)
  --ctp-espresso-yellow-raw: var(--ctp-mocha-yellow-raw)
  --ctp-espresso-green: var(--ctp-mocha-green)
  --ctp-espresso-green-rgb: var(--ctp-mocha-green-rgb)
  --ctp-espresso-green-hsl: var(--ctp-mocha-green-hsl)
  --ctp-espresso-green-raw: var(--ctp-mocha-green-raw)
  --ctp-espresso-teal: var(--ctp-mocha-teal)
  --ctp-espresso-teal-rgb: var(--ctp-mocha-teal-rgb)
  --ctp-espresso-teal-hsl: var(--ctp-mocha-teal-hsl)
  --ctp-espresso-teal-raw: var(--ctp-mocha-teal-raw)
  --ctp-espresso-sky: var(--ctp-mocha-sky)
  --ctp-espresso-sky-rgb: var(--ctp-mocha-sky-rgb)
  --ctp-espresso-sky-hsl: var(--ctp-mocha-sky-hsl)
  --ctp-espresso-sky-raw: var(--ctp-mocha-sky-raw)
  --ctp-espresso-sapphire: var(--ctp-mocha-sapphire)
  --ctp-espresso-sapphire-rgb: var(--ctp-mocha-sapphire-rgb)
  --ctp-espresso-sapphire-hsl: var(--ctp-mocha-sapphire-hsl)
  --ctp-espresso-sapphire-raw: var(--ctp-mocha-sapphire-raw)
  --ctp-espresso-blue: var(--ctp-mocha-blue)
  --ctp-espresso-blue-rgb: var(--ctp-mocha-blue-rgb)
  --ctp-espresso-blue-hsl: var(--ctp-mocha-blue-hsl)
  --ctp-espresso-blue-raw: var(--ctp-mocha-blue-raw)
  --ctp-espresso-lavender: var(--ctp-mocha-lavender)
  --ctp-espresso-lavender-rgb: var(--ctp-mocha-lavender-rgb)
  --ctp-espresso-lavender-hsl: var(--ctp-mocha-lavender-hsl)
  --ctp-espresso-lavender-raw: var(--ctp-mocha-lavender-raw)
  --ctp-espresso-text: var(--ctp-mocha-text)
  --ctp-espresso-text-rgb: var(--ctp-mocha-text-rgb)
  --ctp-espresso-text-hsl: var(--ctp-mocha-text-hsl)
  --ctp-espresso-text-raw: var(--ctp-mocha-text-raw)
  --ctp-espresso-subtext1: var(--ctp-mocha-subtext1)
  --ctp-espresso-subtext1-rgb: var(--ctp-mocha-subtext1-rgb)
  --ctp-espresso-subtext1-hsl: var(--ctp-mocha-subtext1-hsl)
  --ctp-espresso-subtext1-raw: var(--ctp-mocha-subtext1-raw)
  --ctp-espresso-subtext0: var(--ctp-mocha-subtext0)
  --ctp-espresso-subtext0-rgb: var(--ctp-mocha-subtext0-rgb)
  --ctp-espresso-subtext0-hsl: var(--ctp-mocha-subtext0-hsl)
  --ctp-espresso-subtext0-raw: var(--ctp-mocha-subtext0-raw)
  --ctp-espresso-overlay2: var(--ctp-mocha-overlay2)
  --ctp-espresso-overlay2-rgb: var(--ctp-mocha-overlay2-rgb)
  --ctp-espresso-overlay2-hsl: var(--ctp-mocha-overlay2-hsl)
  --ctp-espresso-overlay2-raw: var(--ctp-mocha-overlay2-raw)
  --ctp-espresso-overlay1: var(--ctp-mocha-overlay1)
  --ctp-espresso-overlay1-rgb: var(--ctp-mocha-overlay1-rgb)
  --ctp-espresso-overlay1-hsl: var(--ctp-mocha-overlay1-hsl)
  --ctp-espresso-overlay1-raw: var(--ctp-mocha-overlay1-raw)
  --ctp-espresso-overlay0: var(--ctp-mocha-overlay0)
  --ctp-espresso-overlay0-rgb: var(--ctp-mocha-overlay0-rgb)
  --ctp-espresso-overlay0-hsl: var(--ctp-mocha-overlay0-hsl)
  --ctp-espresso-overlay0-raw: var(--ctp-mocha-overlay0-raw)
  --ctp-espresso-surface2: var(--ctp-mocha-surface2)
  --ctp-espresso-surface2-rgb: var(--ctp-mocha-surface2-rgb)
  --ctp-espresso-surface2-hsl: var(--ctp-mocha-surface2-hsl)
  --ctp-espresso-surface2-raw: var(--ctp-mocha-surface2-raw)
  --ctp-espresso-surface1: var(--ctp-mocha-surface1)
  --ctp-espresso-surface1-rgb: var(--ctp-mocha-surface1-rgb)
  --ctp-espresso-surface1-hsl: var(--ctp-mocha-surface1-hsl)
  --ctp-espresso-surface1-raw: var(--ctp-mocha-surface1-raw)
  --ctp-espresso-surface0: var(--ctp-mocha-surface0)
  --ctp-espresso-surface0-rgb: var(--ctp-mocha-surface0-rgb)
  --ctp-espresso-surface0-hsl: var(--ctp-mocha-surface0-hsl)
  --ctp-espresso-surface0-raw: var(--ctp-mocha-surface0-raw)
  --ctp-espresso-base: #000;
  --ctp-espresso-base-rgb: rgb(0, 0, 0);
  --ctp-espresso-base-hsl: hsl(0, 0%, 0%);
  --ctp-espresso-base-raw: 0, 0, 0;
  --ctp-espresso-mantle: #010101;
  --ctp-espresso-mantle-rgb: rgb(1, 1, 1);
  --ctp-espresso-mantle-hsl: hsl(0, 0%, 0.4%);
  --ctp-espresso-mantle-raw: 1, 1, 1;
  --ctp-espresso-crust: #020202;
  --ctp-espresso-crust-rgb: rgb(2, 2, 2);
  --ctp-espresso-crust-hsl: hsl(0, 0%, 0.8%);
  --ctp-espresso-crust-raw: 2, 2, 2;
}
